.aboutme {
  background-color: var(--ColorFondoSecundario);
  display: flex;
  flex-direction: column;
}
.infoMia {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 0.6rem;
}
.infoMia h1 {
  color: var(--ColorLetraTransición);
  font-size: 3.3rem;
  padding-top: 50px;
}
.infoMia .texto {
  display: flex;
  margin-top: 30px;
}
.infoMia .texto i {
  font-size: 2.5rem;
  color: var(--ColorLetrasSecundaria);
}
.infoMia .texto p {
  font-size: 1.3rem;
  color: var(--ColorLetrasPrincipal);
  padding-top: 10px;
}
.infoMia .texto span {
  color: var(--ColorLetrasSecundaria);
}
.infoMia .cv {
  margin: 0 auto;
  color: var(--ColorLetrasSecundaria);
  border: 4px solid var(--ColorLetrasSecundaria);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-top: 2rem;
  position: relative;
  transition: all 0.5s ease;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.infoMia .cv:hover {
  background-color: var(--ColorLetrasSecundaria);
  color: var(--ColorFondoPrincipal);
}
.infoMia .cv i {
  font-size: 1.3rem;
}
.contenido {
  display: flex; 
  align-items: center; 
  gap: 20px; 
}
.perfil {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #fff; 
}
