.aboutme {
  background-color: var(--ColorFondoSecundario);
  display: flex;
  flex-direction: column;
}
.infoMia {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 0.6rem;
}
.infoMia h1 {
  color: var(--ColorLetraTransición);
  font-size: 3.3rem;
  padding-top: 50px;
}
.infoMia .texto {
  display: flex;
  margin-top: 30px;
}
.infoMia .texto i {
  font-size: 2.5rem;
  color: var(--ColorLetrasSecundaria);
}
.infoMia .texto p {
  font-size: 1.3rem;
  color: var(--ColorLetrasPrincipal);
  padding-top: 10px;
}
.infoMia .texto span {
  color: var(--ColorLetrasSecundaria);
}
.infoMia .cv {
  margin: 0 auto;
  color: var(--ColorLetrasSecundaria);
  border: 4px solid var(--ColorLetrasSecundaria);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.1rem;
  margin-top: 2rem;
  position: relative;
  transition: all 0.5s ease;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.infoMia .cv:hover {
  background-color: var(--ColorLetrasSecundaria);
  color: var(--ColorFondoPrincipal);
}
.infoMia .cv i {
  font-size: 1.3rem;
}
.contenido {
  display: flex; /* Usamos flexbox para organizar el contenido en fila */
  align-items: center; /* Centra verticalmente la imagen y el texto */
  gap: 20px; /* Espacio entre la imagen y el texto */
}
.perfil {
  width: 150px; /* Ajusta el tamaño según lo necesites */
  height: 150px; /* Mantén el mismo tamaño para que sea circular */
  border-radius: 50%; /* Esto hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen mantenga la proporción */
  border: 2px solid #fff; /* Agrega un borde blanco, opcional */
}
