@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
}
:root {
  --ColorFondoPrincipal: #bebebb;
  --ColorFondoSecundario: #fefeff;
  --ColorLetrasPrincipal: #030303;
  --ColorLetrasSecundaria: #804775;
  --ColorLetraTransición: #eabe0e;
  --ColorLetrasMenu: #fefeff;
}
html {
  scroll-behavior: smooth;
}
.scroll {
  scroll-margin-top: 12.3ex;
}
a {
  text-decoration: none;
}
