header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ColorLetrasSecundaria);
  height: 15vh;
  padding: 5px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
.links .link {
  display: inline-block;
}
.links .link a {
  display: block;
  padding-left: 40px;
  color: var(--ColorLetrasMenu);
  transition: color 0.6s;
  font-size: 1.5rem;
  font-weight: bold;
}
.links .link a:hover {
  color: var(--ColorLetraTransición);
}

.logo {
  margin-right: 20px; 
  width: 100px;
}

