header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--ColorLetrasSecundaria);
  height: 15vh;
  padding: 5px 0px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
/*acomodo la imagen del Logo*/
header img {
  width: 100%;
}
 
.linkLogo {
  width: 8.1%;
}
.links .link {
  display: inline-block;
}
/*cambio el color y el tamaño de la letra de los links
  de la cabecera*/
.links .link a {
  display: block;
  padding-left: 40px;
  color: var(--ColorLetrasMenu);
  transition: color 0.6s;
  font-size: 1.5rem;
  font-weight: bold;
}
/*le doy pequeña transicion cuando pasan
  el mouse por arriba*/
.links .link a:hover {
  color: var(--ColorLetraTransición);
}